.footerCont {
  background-image: linear-gradient(
    to right,
    #090506 0%,
    #1c0811 50%,
    #3e1126 100%
  );
  padding: 95px 10% 35px 10%;

  .ulFooterCont {
    color: #ffffff;
    font-weight: 700;
    list-style-type: none;
    li a {
      text-decoration: none;
      color: #ffffff;
      font-weight: 400;
      font-size: 0.8rem;
    }
  }
}
.footerMainDiv {
  display: flex;
  justify-content: space-between;
}
.footerSmLinks img {
  margin-right: 40px;
}
.meetusFooter {
  width: 35%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  .meetusvrLogoFooter {
    position: relative;
    right: 13px;
  }
  p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 30px;
  }
}
.footerCRightTxt {
  text-align: center;
  margin-top: 70px;
  font-size: 0.8rem;
  color: #ffffff;
  font-weight: 400;
}
@media (max-width: 750px) {
  .footerCont {
    .footerMainDiv {
      flex-direction: column;
    }
    .meetusFooter {
      width: 100%;
    }
    ul {
      padding: 0;
    }
    .footerCRightTxt {
      text-align: left;
    }
  }
}
