@font-face {
  font-family: "Blinker";
  src: local("Blinker"),
    url("./fonts/blinker/Blinker-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("./fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4 {
  font-family: "Blinker";
}
p,
a,
button,
ul {
  font-family: "Poppins";
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
